<nav class="bg-blue-600 h-[60px] flex items-center">
  <div class="container mx-auto flex items-center justify-between px-4">
    <%= link_to "Code Curious", root_path, class: "flex items-center font-bold text-white text-2xl mx-5" %>

    <button class="lg:hidden p-2 rounded-md focus:outline-none focus:ring-2 focus:ring-white" aria-label="Toggle navigation" onclick="document.getElementById('navbar-menu').classList.toggle('hidden')">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#ffffff" class="w-6 h-6">
        <path fill-rule="evenodd" d="M3 6.75A.75.75 0 0 1 3.75 6h16.5a.75.75 0 0 1 0 1.5H3.75A.75.75 0 0 1 3 6.75ZM3 12a.75.75 0 0 1 .75-.75h16.5a.75.75 0 0 1 0 1.5H3.75A.75.75 0 0 1 3 12Zm0 5.25a.75.75 0 0 1 .75-.75h16.5a.75.75 0 0 1 0 1.5H3.75a.75.75 0 0 1-.75-.75Z" clip-rule="evenodd"/>
      </svg>
    </button>

    <div class="hidden lg:flex lg:items-center lg:space-x-6" id="navbar-menu">
      <ul class="flex flex-col lg:flex-row lg:space-x-6">
        <li>
          <%= link_to "About", about_path, class: "text-white hover:text-blue-300 transition duration-200" %>
        </li>
        <li>
          <%= link_to "Contact", contact_path, class: "text-white hover:text-blue-300 transition duration-200" %>
        </li>
        <% if admin_signed_in? %>
          <li>
            <%= link_to "Profile", profile_path(current_admin), class: "text-white hover:text-blue-300 transition duration-200" %>
          </li>
          <li>
            <%= link_to "Log out", destroy_admin_session_path, method: :delete, data: { turbo_confirm: "Are you sure?", turbo_method: :delete }, class: "text-white hover:text-blue-300 transition duration-200" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>