<div class="flex gap-5">
  <a href="https://wa.me/<%= whatsapp %>" target="_blank">
    <%= inline_svg_tag "icons/whatsapp.svg", size: "40px*40px", class: 'text-primary hover:text-green-600 w-6' %>
  </a>
  <a href="https://github.com/<%= github %>" target="_blank">
    <%= inline_svg_tag "icons/github.svg", size: "40px*40px", class: 'text-primary hover:text-fourth w-6' %>
  </a>
  <a href="https://linkedin.com/in/<%= linkedin %>" target="_blank">
    <%= inline_svg_tag "icons/linkedin.svg", size: "40px*40px", class: 'text-primary hover:text-blue-700 w-6' %>
  </a>
  <a href="https://facebook.com/<%= facebook %>" target="_blank">
    <%= inline_svg_tag "icons/facebook.svg", size: "40px*40px", class: 'text-primary hover:text-blue-700 w-6' %>
  </a>
  <a href="https://instagram.com/<%= instagram %>" target="_blank">
    <%= inline_svg_tag "icons/instagram.svg", size: "40px*40px", class: 'text-primary hover:text-pink-600 w-6' %>
  </a>
</div>