<div class="flex gap-3">
  <a href="https://wa.me/<%= whatsapp %>" target="_blank" class="text-green-500 hover:text-green-600">
    <%= inline_svg_tag "icons/whatsapp.svg", size: "40px*40px", class: 'text-green-500 hover:text-green-600 w-5' %>
  </a>
  <a href="https://github.com/<%= github %>" target="_blank" class="text-gray-900 hover:text-fourth">
    <%= inline_svg_tag "icons/github.svg", size: "40px*40px", class: 'text-gray-900 hover:text-fourth w-5' %>
  </a>
  <a href="https://linkedin.com/in/<%= linkedin %>" target="_blank" class="text-primary hover:text-blue-700">
    <%= inline_svg_tag "icons/linkedin.svg", size: "40px*40px", class: 'text-primary hover:text-blue-700 w-5' %>
  </a>
  <a href="https://facebook.com/<%= facebook %>" target="_blank" class="text-primary hover:text-blue-700">
    <%= inline_svg_tag "icons/facebook.svg", size: "40px*40px", class: 'text-primary hover:text-blue-700 w-5' %>
  </a>
  <a href="https://instagram.com/<%= instagram %>" target="_blank" class="text-pink-500 hover:text-pink-600">
    <%= inline_svg_tag "icons/instagram.svg", size: "40px*40px", class: 'text-pink-500 hover:text-pink-600 w-5' %>
  </a>
</div>