<section class="articles_form">
  <div class="lg:py-16">

    <%= form_with model: @article do |form| %>

      <!--      Display errors-->
      <div class="mb-5">
        <% if form.object.errors.any? %>
          <div class="p-4 border border-red-500 bg-red-100 rounded-md">
            <% form.object.errors.full_messages.each do |message| %>
              <p class="text-base text-red-600 dark:text-red-500"><%= message %></p>
            <% end %>
          </div>
        <% end %>
      </div>

      <!--      Article Title-->
      <div class="my-10">
        <%= form.label :title, class: "form-label" %>
        <%= form.text_field :title, class: "form-input", placeholder: "Enter article title", autofocus: true %>
      </div>

      <!--      File Upload-->
      <div class="my-10">
        <%= form.label "Add a featured Image", class: "form-label", for: "file_input" %>

        <div class="my-5">
          <%= image_tag @article.featured_image.variant(resize_to_limit: [300, 300]), class: "my-5 rounded" if @article.featured_image.attached? %>
        </div>
        <%= form.file_field :featured_image, class: "form-input", id: "file_input" %>
      </div>

      <!--      Write Content-->
      <div class="my-10 w-full">
        <%#= form.label "Write your article", class: "form-label" %>
        <%= form.rich_text_area :content, placeholder: "Write an article...", class: "form-textarea" %>
      </div>

      <!--      Submit button-->
      <div>
        <%= form.submit class: "button" %>
      </div>
    <% end %>
  </div>
</section>