<div>
  <div class="flex justify-between items-center border-b border-gray-200 dark:border-gray-700 p-5 mb-10">
    <% if policy(@article).manage? %>
      <%= link_to "Edit Article", edit_admin_article_path(@article), class: "button" %>
    <% end %>
  </div>
  <div class="my-5 w-1/2">
    <% if @article.featured_image.present? %>
      <%= image_tag @article.featured_image, class: "w-40 rounded" %>
    <% else %>
      <%= image_tag "placeholder.png", class: "w-40" %>
    <% end %>
  </div>
  <h1 class="h1 mb-5">
    <%= @article.title %>
  </h1>
  <%= @article.content %>
</div>
