<div class="col-md-6 col-lg-4 mb-4">
  <article>
    <%= link_to article_path(article), class: "text-decoration-none" do %>
      <div class="card">
        <% if article.featured_image.attached? %>
          <%= image_tag article.featured_image, class: "card-img-top", alt: article.title %>
        <% else %>
          <%= image_tag "placeholder.png", class: "card-img-top", alt: article.title %>
        <% end %>
        <div class="card-body">
          <small class="px-2 py-1 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-2" style="font-size: 0.6rem">Ruby
            on Rails</small>
          <h4 class="card-title fw-semibold mt-3 text-dark" style="font-size: 1.125rem"><%= article.title %></h4>
          <p class="text-muted" style="font-size: 0.8125rem"><%= truncate(strip_tags(article.content.to_s), length: 140) %></p>
          <hr class="hr-dashed">
          <div class="d-flex justify-content-between">
            <div class="media">
              <%= image_tag article.author.profile_picture, class: "thumb-sm rounded-circle me-2 align-self-center", style: "width: 25px; height: 25px" %>
              <div class="media-body align-self-center text-truncate">
                <h6 class="m-0 text-dark" style="font-size: 0.8125rem"><%= article.author.name %></h6>
                <ul class="p-0 list-inline mb-0">
                  <li class="list-inline-item text-muted" style="font-size: 0.7125rem"><%= show_date(article) %></li>
                </ul>
              </div>
            </div>
            <div class="align-self-center">
              <%= link_to "Read more...", article_path(article), class: "text-decoration-none", style: "font-size: 0.8125rem" %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </article>
</div>