<article>
  <div class="bg-white dark:bg-gray-800 dark:text-white rounded-lg overflow-hidden hover:shadow-sm transition-shadow duration-300 border border-gray-200 dark:border-gray-700">
    <%= link_to article_path(article), data: { turbo: false } do %>
      <%= render "layouts/shared/featured_image", resource: article, other_classes: "w-full h-55" %>
    <% end %>
    <div class="p-4 dark:text-white">

      <!-- Category-->
      <%= render "layouts/article_category", resource: article %>
      <!-- End Category-->

      <h2 class="h4"><%= link_to article.title, article, data: { turbo: false } %></h2>
      <p class="p !text-base"><%= truncate(strip_tags(article.content.to_s), length: 100) %></p>
      <hr class="border-dashed border-gray-200 dark:border-gray-700 my-3">
      <div class="flex justify-between items-center">
        <div class="flex items-center">
          <%= link_to author_path(article.author) do %>
            <%= render "layouts/shared/profile_picture", resource: article.author, other_classes: "w-6 h-6 mr-3 rounded-full" %>
          <% end %>
          <div class="text-sm">
            <p class="h6 dark:text-white"><%= link_to article.author.name, author_path(article.author) %></p>
            <span class="text-gray-500 dark:text-white text-xs">Published on: <%= article_published_date(article) %></span>
          </div>
        </div>
        <div>
          <%= link_to "Read more...", article_path(article), data: { turbo: false }, class: "text-gray-900 dark:text-gray-300 hover:text-secondary text-sm font-semibold" %>
        </div>
      </div>
    </div>
  </div>
</article>
