<article>
  <%= link_to article_path(article) do %>
    <div class="bg-white dark:bg-gray-800 dark:text-white rounded overflow-hidden hover:shadow-sm transition-shadow duration-300">
      <% if article.featured_image.attached? %>
        <%= image_tag article.featured_image, class: "w-full h-48 object-cover", alt: article.title %>
      <% else %>
        <%= image_tag "placeholder.png", class: "w-full h-48 object-cover", alt: article.title %>
      <% end %>
      <div class="p-4 dark:text-white">
        <small class="badge">
          Ruby on Rails
        </small>
        <h4 class="h4 dark:text-white"><%= article.title %></h4>
        <p class="p"><%= truncate(strip_tags(article.content.to_s), length: 140) %></p>
        <hr class="border-dashed border-gray-200 my-3">
        <div class="flex justify-between items-center">
          <div class="flex items-center">
            <% if article.author.profile_picture.present? %>
              <%= image_tag article.author.profile_picture, class: "w-6 h-6 rounded-full mr-2", alt: article.author.name %>
            <% else %>
              <%= image_tag "user.jpg", class: "w-6 h-6 rounded-full mr-2", alt: article.author.name %>
            <% end %>
            <div class="text-sm">
              <h6 class="h6 dark:text-white"><%= article.author.name %></h6>
              <span class="text-gray-500 dark:text-white text-xs"><%= show_date(article) %></span>
            </div>
          </div>
          <div>
            <%= link_to "Read more...", article_path(article), class: "text-primary dark:text-gray-300 hover:text-secondary text-sm" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</article>
