<section class="bg-white dark:bg-gray-800">
  <div class="grid justify-center text-center lg:text-start container px-4 py-15 lg:py-26 xl:px-10 2xl:px-24 mx-auto lg:gap-8 xl:gap-0 lg:grid-cols-12" style="background-image: url('<%= asset_path("noise-bg.webp") %>');">
    <div class="mr-auto place-self-center lg:col-span-7">
      <% hero_text.each do |hero| %>
        <h1 class="page-heading">
          <%= highlight_keywords(hero[:title], ["Coding"]) %>
        </h1>
        <p class="description">
          <%= hero[:description] %>
        </p>
      <% end %>

      <!-- Handle search for an article -->
      <div class="w-[90%] lg:w-2/3 my-10 mx-auto lg:mx-0 dark:text-white">
        <%= search_form_for @q, url: root_path, html: { class: "flex space-x-2", role: "search" } do |f| %>
          <%= f.search_field :title_or_slug_or_categories_name_cont, class: "flex-1 p-2 border border-third rounded-md focus:ring focus:ring-blue-300", placeholder: "Ex: Ruby on Rails, Github, Docker", aria: { label: "Search" } %>
          <%= f.submit "Search", class: "outline-button" %>
        <% end %>
      </div>
    </div>
    <div class="hidden lg:mt-0 lg:col-span-5 lg:flex lg:justify-end">
      <%= render "articles/icons/developer" %>
    </div>
  </div>
</section>