<div class="bg-white h-full">
  <div class="py-26 bg-cover bg-center" style="background-image: url('<%= asset_path("noise-bg.webp") %>');">
    <div class="my-4">
      <% hero_text.each do |hero| %>
        <div class="max-w-2xl mx-auto text-center">
          <h1 class="h1">
            <%= hero[:title].gsub('Coding', '<span class="text-blue-600">Coding</span>').html_safe %>
          </h1>
          <p class="text-gray-700 md:text-lg">
            <%= hero[:description].gsub('!', '<span>!<br></span>').html_safe %>
          </p>
        </div>
      <% end %>
    </div>

    <!-- Handle search for an article -->
    <div class="w-[90%] lg:w-1/2 mx-auto my-10">
      <%= search_form_for @q, url: root_path, html: { class: "flex space-x-2", role: "search" } do |f| %>
        <%= f.search_field :title_or_slug_cont, class: "flex-1 p-2 border border-gray-300 rounded-md focus:ring focus:ring-blue-300", placeholder: "Ex: Ruby on Rails, Github, Docker", aria: { label: "Search" } %>
        <%= f.submit "Search", class: "px-4 py-2 border border-blue-600 text-blue-600 rounded-md hover:bg-blue-600 hover:text-white transition duration-200" %>
      <% end %>
    </div>
  </div>
</div>