<article>
  <%= link_to article_path(article), data: { turbo: false } do %>
    <%= render "layouts/shared/featured_image", resource: article, other_classes: "w-full h-48 mb-3 rounded-md" %>
  <% end %>

  <!-- Category -->
  <%= render "layouts/article_category", resource: article %>
  <!-- End Category -->

  <h2 class="mb-2 text-xl font-bold leading-tight text-gray-900 dark:text-white">
    <%= link_to article.title, article_path(article), data: { turbo: false } %>
  </h2>
  <div>
    <p>
      <%= link_to article.author.name, author_path(article.author), data: { turbo: false }, class: "text-primary dark:text-gray-300 hover:text-secondary cursor-pointer  !text-sm" %>
      |
      <span class="text-primary dark:text-gray-300 cursor-pointer  !text-sm">
        Published on: <%= article_published_date(article) %>
      </span>
    </p>
  </div>
</article>
