<% content_for :title, "#{@article.title} - Code Curious" %>

<% content_for :primary_content do %>
  <div class="mb-20">
    <p class="text-sm text-gray-500">
      Last updated: <%= show_date(@article) %>
    </p>
    <h1 class="h1"><%= @article.title %></h1>
    <div>
      <% if @article.featured_image.attached? %>
        <%= image_tag @article.featured_image, class: "rounded-lg mb-3 w-full" %>
      <% else %>
        <%= image_tag "placeholder.png", class: "rounded-lg mb-3 w-full" %>
      <% end %>
    </div>
    <p class="text-sm text-gray-500">
      <%= reading_time(@article.content) %> read • By:
      <%= link_to @article.author.name, author_path(@article.author.slug), class: "text-primary hover:underline" %>
    </p>
    <div class="border-b border-gray-200 dark:border-gray-700 my-5"></div>
    <%= @article.content %>
  </div>
<% end %>

<% content_for :secondary_content do %>
  <%= render "layouts/shared/author", article: @article %>
<% end %>

<%= render "layouts/shared/basic_layout" %>