<% content_for :title, "#{@article.title} - Code Curious" %>

<% content_for :primary_content do %>
  <div class="mb-20">
    <p class="text-sm text-gray-500">
      Last updated: <%= show_date(@article) %>
    </p>
    <h1 class="h1"><%= @article.title %></h1>
    <div>
      <% if @article.featured_image.attached? %>
        <%= image_tag @article.featured_image, class: "rounded-lg mb-3 w-full" %>
      <% else %>
        <%= image_tag "placeholder.png", class: "rounded-lg mb-3 w-full" %>
      <% end %>
    </div>
    <p class="text-sm text-gray-500">
      <%= reading_time(@article.content) %> read • By:
      <%= link_to @article.author.name, author_path(@article.author.slug), class: "text-primary hover:underline" %>
    </p>
    <div class="border-b border-gray-100 my-5"></div>
    <p class="text-base"><%= @article.content %></p>
  </div>
<% end %>

<% content_for :secondary_content do %>
  <div class="mb-3">
    <div class="mb-4">
      <% if @article.author.profile_picture.attached? %>
        <%= image_tag @article.author.profile_picture, class: "rounded-full w-32 h-32 mb-8" %>
      <% else %>
        <%= image_tag "placeholder.png", class: "rounded-full w-32 h-32 mb-8" %>
      <% end %>
      <h1 class="text-xl font-semibold mb-3">Hey, I'm <%= @article.author.name %></h1>
      <p class="text-sm text-gray-500 text-justify"><%= @article.author.bio %></p>
    </div>
    <% if @article.author.whatsapp_number.present? || @article.author.github.present? || @article.author.linkedin.present? || @article.author.facebook.present? || @article.author.instagram.present? %>
      <%= render "layouts/shared/social_links", whatsapp: @article.author.whatsapp_number, github: @article.author.github, linkedin: @article.author.linkedin, facebook: @article.author.facebook, instagram: @article.author.instagram %>
    <% end %>
    <div class="border-b border-third mt-5"></div>
  </div>

  <div class="my-5">
    <p class="text-lg">Here's how I can help you:</p>
  </div>

  <div>
    <% services.each do |service| %>
      <a href="<%= service[:href] %>" class="text-decoration-none" target="_blank">
        <div class="mb-5">
          <h5 class="mb-2 text-lg font-semibold"><%= service[:title] %></h5>
          <p class="text-sm md:text-base text-gray-500 text-justify"><%= service[:description] %></p>
          <button class="button">Check it out</button>
        </div>
      </a>
    <% end %>
  </div>
<% end %>

<%= render "layouts/shared/basic_layout" %>