<h1 class="h1">Update Information</h1>

<%= form_with model: @admin, url: profile_path, method: :patch, class: "space-y-4" do |f| %>

  <div class="mb-5">
    <% if f.object.errors.any? %>
      <div class="p-4 border border-red-500 bg-red-100 rounded-md">
        <% f.object.errors.full_messages.each do |message| %>
          <p class="text-base text-red-600 dark:text-red-500"><%= message %></p>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="flex flex-col">
    <% if @admin.profile_picture.attached? %>
      <%= image_tag @admin.profile_picture, class: "w-20 h-20 rounded-full", style: "object-fit: cover;" %>
    <% else %>
      <%= image_tag "user.jpg", class: "w-20 h-20 rounded-full", style: "object-fit: cover;" %>
    <% end %>
    <%= f.label :profile_picture, class: "text-lg font-semibold mt-4" %>
    <%= f.file_field :profile_picture, class: "mt-2 p-2 border border-third rounded-md" %>
  </div>

  <div class="flex flex-col">
    <%= f.label :name, class: "text-lg font-semibold" %>
    <%= f.text_field :name, class: "mt-2 p-2 border border-third rounded-md" %>
  </div>

  <div class="flex flex-col">
    <%= f.label :bio, class: "text-lg font-semibold" %>
    <%= f.text_area :bio, cols: "50", rows: "5", class: "mt-2 p-2 border border-third rounded-md" %>
  </div>

  <% if policy(@admin).super_admin? %>
    <div class="flex flex-col">
      <%= f.label :role, class: "text-lg font-semibold" %>
      <%= f.select :role, Admin.roles.keys.map { |role| [role.humanize, role] }, {}, { class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" } %>
    </div>
  <% end %>

  <div class="flex flex-col">
    <%= f.label :website, class: "text-lg font-semibold" %>
    <%= f.text_field :website, class: "mt-2 p-2 border border-third rounded-md" %>
  </div>

  <div class="flex flex-col">
    <%= f.label :whatsapp_number, class: "text-lg font-semibold" %>
    <%= f.text_field :whatsapp_number, class: "mt-2 p-2 border border-third rounded-md" %>
  </div>

  <div class="flex flex-col">
    <%= f.label :github, class: "text-lg font-semibold" %>
    <%= f.text_field :github, class: "mt-2 p-2 border border-third rounded-md" %>
  </div>

  <div class="flex flex-col">
    <%= f.label :facebook, class: "text-lg font-semibold" %>
    <%= f.text_field :facebook, class: "mt-2 p-2 border border-third rounded-md" %>
  </div>

  <div class="flex flex-col">
    <%= f.label :linkedin, class: "text-lg font-semibold" %>
    <%= f.text_field :linkedin, class: "mt-2 p-2 border border-third rounded-md" %>
  </div>

  <div class="flex flex-col">
    <%= f.label :instagram, class: "text-lg font-semibold" %>
    <%= f.text_field :instagram, class: "mt-2 p-2 border border-third rounded-md" %>
  </div>

  <div class="space-x-3">
    <%= f.submit "Update Information", class: "button" %>
    <% if @admin.persisted? %>
      <%= link_to "Cancel", profile_path(@admin), class: "outline-button" %>
    <% end %>
  </div>
<% end %>