<div>
  <div class="flex items-center justify-between">
    <div class="lg:w-[40%]">
      <h1 class="h1 dark:text-white">
        <%= @admin.name %>
      </h1>
      <p class="dark:text-white">
        <%= @admin.bio %>
      </p>
      <div class="mt-3">
        <%= render "layouts/shared/social_links", whatsapp: @admin.whatsapp_number, github: @admin.github, linkedin: @admin.linkedin, facebook: @admin.facebook, instagram: @admin.instagram %>
      </div>
    </div>
    <% if policy(@admin).manage? %>
      <%= link_to "Edit", edit_profile_path(@admin), class: "button w-fit" %>
    <% end %>
  </div>
</div>

<%= render "layouts/admin_shared/base/hr" %>

<h2 class="h2 !text-left">Articles</h2>

<%= render "admin/articles/article", articles: @admin_articles %>

<%= render "layouts/shared/pagy" %>
