<div>
  <div class="flex items-center justify-between">
    <div class="md:w-[40%]">
      <h1 class="h1 dark:text-white">
        <%= @admin.name %>
      </h1>
      <p class="dark:text-white">
        <%= @admin.bio %>
      </p>
      <div class="mt-3">
        <% if @admin.whatsapp_number.present? || @admin.github.present? || @admin.linkedin.present? || @admin.facebook.present? || @admin.instagram.present? %>
          <%= render "layouts/shared/social_links", whatsapp: @admin.whatsapp_number, github: @admin.github, linkedin: @admin.linkedin, facebook: @admin.facebook, instagram: @admin.instagram %>
        <% end %>
      </div>
    </div>
    <% if params[:id] == current_admin.friendly_id %>
      <%= link_to "Edit", edit_profile_path(@admin), class: "button w-fit" %>
    <% end %>
  </div>
</div>

<div class="my-10"></div>

<h2 class="h2 !text-left">My articles</h2>

<%= render "admin/articles/article", articles: @admin_articles %>
