<div class="mb-20">
  <div class="flex items-center justify-between">
    <h1 class="h1">
      <%= @admin.name %>
    </h1>
    <%= link_to "Edit", edit_profile_path(@admin), class: "button w-fit" %>
  </div>
  <%= @admin.bio %>
</div>
<div class="grid grid-cols-5 gap-3">
  <% @admin_articles.each do |admin_article| %>
    <div>
      <h4 class="h4"><%= admin_article.title %></h4>
      <p><%= truncate(strip_tags(admin_article.content.to_s), length: 140) %></p>
    </div>
  <% end %>
</div>
