<!DOCTYPE html>
<html>
<head>
  <title><%= content_for(:title) || "Code Curious" %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= yield :head %>

  <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
  <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

  <link rel="icon" href="/icon.png" type="image/png">
  <link rel="icon" href="/icon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/icon.png">

  <%# Includes all stylesheet files in app/assets/stylesheets %>
  <%#= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
</head>

<body class="hold-transition sidebar-mini">
<div class="wrapper">
  <div class="flash">
    <%= render "layouts/shared/flash_messages" %>
  </div>
  <% content_for :admin_aside do %>
    <%= render "layouts/admin_shared/base/sidebar" %>
  <% end %>
  <% content_for :admin_content do %>
    <div>
      <%= render "layouts/admin_shared/nav" %>
      <!-- Main content -->
      <div class="content py-5 px-10">
        <%= yield %>
      </div>
      <!-- End Main Content -->
    </div>
    <%= render "layouts/admin_shared/base/footer" %>
  <% end %>
  <%= render "layouts/admin_shared/admin_layout" %>
</div>
</body>
</html>
