<% content_for :form_wrap do %>

  <h2 class="mb-5 text-center fw-semibold">Forgot your password?</h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "admins/shared/error_messages", resource: resource %>

    <div class="mb-3">
      <%= f.label :email, class: "form-label" %><br/>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Enter your email address" %>
    </div>

    <div class="mb-3">
      <%= f.submit "Send me reset password instructions", class: "btn btn-outline-primary w-100" %>
    </div>
  <% end %>

  <%= render "admins/shared/links" %>
<% end %>

<%= render "layouts/shared/form_wrap" %>