<div
  style="user-select: none; -webkit-user-select: none; -moz-user-select: none;"
  oncopy="return false"
  oncut="return false"
  onpaste="return false"
  oncontextmenu="return false"
>
  <main class="pt-8 pb-16 lg:pb-24 bg-white shadow dark:bg-gray-800 rounded antialiased">
    <div class="flex justify-between px-5 mx-auto max-w-screen-xl ">
      <article class="mx-auto w-full max-w-3xl format format-sm sm:format-base lg:format-lg format-blue dark:format-invert">
        <header class="mb-4 lg:mb-6 not-format">
          <h1 class="mb-4 text-3xl font-extrabold leading-tight text-gray-900 lg:mb-6 lg:text-4xl dark:text-white"> <%= @article.title %></h1>

          <!-- Address section-->
          <address class="flex items-center mb-6 not-italic">
            <div class="flex flex-col md:flex-row md:items-center mr-3 text-sm text-gray-900 dark:text-white">

              <!-- Author profile picture-->
              <%= link_to author_path(@article.author) do %>
                <%= render "layouts/shared/profile_picture", resource: @article.author, other_classes: "w-16 h-16 mr-5 rounded-full mb-3" %>
              <% end %>
              <!-- End author profile picture-->

              <!-- Author bio & article data -->
              <div class="space-y-2">
                <%= link_to @article.author.name, author_path(@article.author), class: "text-xl font-bold text-gray-900 dark:text-white", rel: "author" %>
                <p class="text-base text-gray-500 dark:text-gray-400"><%= @article.author.bio %></p>
                <p class="text-sm text-gray-500 dark:text-gray-400">
                  <%= reading_time(@article.content) %> read •
                  <time pubdate datetime="<%= show_updated_date(@article) %>" title="<%= show_updated_date(@article) %>">Last
                    updated: <%= show_updated_date(@article) %></time>
                </p>
              </div>
              <!-- End author bio & article data -->
            </div>
          </address>
          <!-- End Address Section-->

          <!-- Article featured mage section-->
          <div>
            <%= render "layouts/shared/featured_image", resource: @article, other_classes: "rounded-lg mb-3 w-full h-[360px]" %>
          </div>
          <!-- End article featured image-->
        </header>

        <!-- Article content-->
        <%= @article.content %>
        <!-- End article contents-->


        <div class="flex items-center space-x-4 my-10">
          <%= render "layouts/shared/socials", resource: @article.author %>
        </div>
      </article>
    </div>
  </main>
</div>

<% content_for :disable_copy_js do %>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      document.addEventListener('contextmenu', function (e) {
        e.preventDefault();
      });
      document.body.style.userSelect = "none";
      document.addEventListener('copy', function (e) {
        e.preventDefault();
      });
    });
  </script>
<% end %>